body {
    font-family: sans-serif;
    background-color: #C4C5FF;
    color: #FFF;
}

input{
    background-color: #fff;
    border-style: none;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-inputs{
    background-color: #413f6b;
    /* round the corners */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.pink-background{
    background-color: #FCE9FF;
    color: #413F6B;
    padding-top: 10px;
    padding-bottom: 5px;
    
}

.title {
    font-size: 36px;
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color: #413f6b;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff,
        1px 1px 5px #fce9ff, 1px 1px 5px #fce9ff;
}

.dp-button{
    background-color: #413F6B;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    padding-top: 15px;
    padding-bottom: 15px;

    /* margin is the space around */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
    transition: box-shadow 0.15s;
    align-self: center;
    margin-right: 10px;  
}

.delete-button{
    background-color: #C4C5FF;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;

    /* margin is the space around */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
    transition: box-shadow 0.15s;
    align-self: center;
        
}

/* background: #fff;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem; */

/* round the edges of input-card */
.input-card{
    background-color: #C4C5FF;
    color: #FFF;
    
    margin-left: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.quality-card{
    background: #C4C5FF;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

}

.nap-grid, .nap-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px 140px 180px 120px;
    column-gap: 5px;
    row-gap: 5px;
    text-align: center;
    font-optical-sizing: auto;

    padding: 10px 0;

    /* bottom rounded corners */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px

}

/* .nap-input-grid{
    margin-bottom: 5px;
    margin-top: 10px;
} */

.link-container{
    position: absolute;
    right: 0px;
    display: block;
    padding-right: 25px;
}

.clock-icon{
    width: 20px;
}

.link-to-scheduler{
    display: inline;
}