body{
    background-color: #413f6b;
    font-family: sans-serif;
}

.center{
    display:flex;
    justify-content: center;
}

.header-link {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.title {
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color: #fce9ff;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff,
        1px 1px 5px #fce9ff, 1px 1px 5px #fce9ff;
}

.command-box{
    width: 350px;
    display: inline-block;
    
}

.wake-box, .bed-box{
    color: #fff;
    background-color: #565678;
    width: 195px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    /* Flexbox centering */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wake-bed-container{
    margin-right: 10px;
    background-color:#fce9ff;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    border-radius: 15px;
    
}

/* container */
.ideal-nap-container{
    display: inline-block;
    width: 400px;
    background-color:#c4c5ff;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    border-radius: 15px;
    margin-left: 10px;
    
}
