body{
    background-color: #413f6b;
    font-family: sans-serif;
}

.header-link {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.title {
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color: #fce9ff;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff,
        1px 1px 5px #fce9ff, 1px 1px 5px #fce9ff;
}



.command-box{
    width: 350px;
    display: inline-block;
}

.button-container{
    background-color:#fce9ff;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    border-radius: 15px;
}

/* container */
.ideal-nap-container{
    display: inline-block;
    width: 400px;
    background-color:#c4c5ff;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    border-radius: 15px;
    
}
